{% extends 'layout/layout4.html' %}

{% block content %}

<!-- Start Sign up Area  -->
<div class="signup-area rainbow-section-gapTop-big" data-black-overlay="2">
    <div class="sign-up-wrapper rainbow-section-gap">
        <div class="sign-up-box bg-flashlight">
          
            <div class="separator-animated animated-true"></div>
            <div class="signup-box-bottom">
                <div class="signup-box-content">
                    <h4 class="title">Welcome Back!</h4>
                    {% if messages %}
                        <div class="alert alert-danger">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <hr>
                    <form method="post">
                        {% csrf_token %}
                        
                        <div class="input-section mail-section">
                            <div class="icon"><i class="feather-user"></i></div>
                            <input type="text" name="username" id="username" placeholder="Enter Username" required>
                        </div>
                        <div class="input-section password-section">
                            <div class="icon"><i class="feather-lock"></i></div>
                            <input type="password" name="password" id="password" placeholder="Password" required>
                        </div>
                        <div class="forget-text"><a class="btn-read-more" href="#"><span>Forgot password</span></a></div>
                        <button type="submit" class="btn-default">Sign In</button>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- End Sign up Area  -->

{% endblock content %}