<div class="popup-mobile-menu">
        <div class="inner-popup">
            <div class="header-top">
                <div class="logo">
                    <a href="{% url 'index' %}">
                        <h4 class="subtitle " style="
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        align-content: center;
                        flex-wrap: nowrap;
                        flex-direction: row;
                        margin-bottom: 0px;
                    "><span class="theme-gradient">NeuroSys AI</span></h4>
                    </a>
                </div>
                <div class="close-menu">
                    <button class="close-button">
                        <i class="feather-x"></i>
                    </button>
                </div>
            </div>

            <div class="content">
                <ul class="mainmenu">
                    <li><a href="{% url 'dashboard' %}">Welcome</a></li>
                    <li class="with-megamenu has-menu-child-item position-relative"><a href="#">Dashboard</a>
                        <div class="rainbow-megamenu right-align with-mega-item-2">
                            <div class="wrapper p-0">
                                <div class="row row--0">
                                    <div class="col-lg-6 single-mega-item">
                                        <h3 class="rbt-short-title">DASHBOARD PAGES</h3>
                                        <ul class="mega-menu-item">
                                          
                                        </ul>
                                    </div>
                                    <div class="col-lg-6 single-mega-item">
                                        <div class="header-menu-img">
                                            <img src="/static/images/menu-img/menu-img-2.png" alt="Menu Split Image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                   
                </ul>








                <div class="rbt-sm-separator"></div>
                <div class="rbt-default-sidebar-wrapper">
                    <nav class="mainmenu-nav">
                        <ul class="dashboard-mainmenu rbt-default-sidebar-list">
                            <li><a href="{% url 'dashboard' %}"><i class="feather-monitor"></i><span>Welcome</span></a></li>
                          
                        </ul>
                        <div class="rbt-sm-separator"></div>
                        <ul class="dashboard-mainmenu rbt-default-sidebar-list">
                            <li><a href="#"><img src="/static/images/generator-icon/text.png" alt="AI Generator"><span>Text Generator</span></a></li>
                            <li><a tabindex="-1" class="disabled" aria-disabled="true" role="button"><img src="/static/images/generator-icon/website-design.png" alt="AI Generator"><span>Website Generator</span></a></li>
                        </ul>
                    </nav>

                    <div class="rbt-sm-separator"></div>

                    <nav class="mainmenu-nav">
                        <ul class="dashboard-mainmenu rbt-default-sidebar-list">
                            <li class="has-submenu"><a class="collapse-btn collapsed" data-bs-toggle="collapse" href="#collapseExampleMenu" role="button" aria-expanded="false" aria-controls="collapseExampleMenu"><i class="feather-plus-circle"></i><span>Setting</span></a>
                                <div class="collapse" id="collapseExampleMenu">
                                    <ul class="submenu rbt-default-sidebar-list">
                                     
                                    </ul>
                                </div>
                            </li>
                            <li><a href="#"><i class="feather-award"></i><span>Help & FAQ</span></a></li>
                        </ul>
                        <div class="rbt-sm-separator"></div>
                        <ul class="dashboard-mainmenu rbt-default-sidebar-list">
                          
                        </ul>
                    </nav>
                </div>
            </div>

            <!-- Start Header Btn  -->
            <div class="header-btn d-block d-md-none">
                <a class="btn-default @@btnClass" target="_blank" href="#">Get Started Free</a>
            </div>
            <!-- End Header Btn  -->
        </div>
    </div>