<header class="rbt-dashboard-header rainbow-header header-default header-left-align rbt-fluid-header" style="     height: 60px; ">
    <div class="container-fluid position-relative" style="     height: 60px; ">
        <div class="row align-items-center" style="     height: 60px; ">
            <div class="col-lg-3 col-md-6 col-7" style="     height: 54px; ">
                <div class="header-left d-flex">
                    <div class="expand-btn-grp">
                        <button class="bg-solid-primary popup-dashboardleft-btn"><i class="feather-sidebar left"></i></button>
                    </div>
                    <div class="logo">
                        <h4 class="subtitle " style="
                        margin-top: 10px;
                        margin-bottom: 10px;
                    ">
                            <span class="theme-gradient">Sys AI</span></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-6 col-5" style="     height: 54px; ">
                <div class="header-right" style="     height: 54px; ">
                    

                    <!-- Start Mobile-Menu-Bar -->
                    <div class="mobile-menu-bar mr--10 ml--10 d-block d-lg-none">
                        <div class="hamberger">
                            <button class="hamberger-button">
                                <i class="feather-menu"></i>
                            </button>
                        </div>
                    </div>
                    <!-- Start Mobile-Menu-Bar -->
                    <!-- Start Notification Area -->
                    <div class="notification-icon" style="position: relative; margin-right: 20px;">
                        <button id="notification-btn" style="background: none; border: none; cursor: pointer;">
                            <lord-icon class="boxed-logo-light"
                                src="https://cdn.lordicon.com/vspbqszr.json"
                                trigger="hover"
                                style="width:35px;height:35px">
                            </lord-icon>
                            <lord-icon class="boxed-logo-dark" colors="primary:#ffffff"
                                src="https://cdn.lordicon.com/vspbqszr.json"
                                trigger="hover"
                                style="width:35px;height:35px">
                            </lord-icon>
                            <span id="notification-badge" class="badge bg-danger" style="border-radius: 20px;position: absolute; top: -5px; right: -5px; font-size: 10px; display: none;">0</span>
                        </button>
                    </div>
                    <!-- End Notification Area -->
                    <!-- Start Tools Area -->
                    <div id="countdown" style="font-size: 5rem;"></div>
                    <!-- End Tools Area -->
                    
                    <!-- Start admin Area  -->
                    <div class="account-access rbt-user-wrapper right-align-dropdown" style="     height: 54px; ">
                        <div class="rbt-user ml--0" style="     height: 54px; ">
                            <a class="admin-img" href="#"><img src="/static/images/team/team-01.png" alt="Admin"></a>
                        </div>
                        <div class="rbt-user-menu-list-wrapper">
                            <div class="inner">
                                <div class="rbt-admin-profile" style="
                                display: flex;
                                align-items: center;
                            ">
                                    <div class="admin-thumbnail">
                                        <img src="/static/images/team/team-01.png" alt="User Images">
                                    </div>
                                    <div class="admin-info">
                                        <span class="name">{{user.username}}</span>
                                       
                                    </div>
                               
                                </div>
                                <hr class="mt--10 mb--10">
                                <ul class="user-list-wrapper">
                                    <li>
                                        <a href="/logout/">
                                            <i class="feather-log-out"></i>
                                            <span>Logout</span>
                                        </a>
                                    </li>
                                </ul>
                               
                            </div>
                        </div>
                    </div>
                    <!-- Start admin Area  -->

                    
                    <div class="expand-btn-grp {% if toggle == 'true' %}@@display-class{% else %}d-none{% endif %}">

                        <button class="bg-solid-primary popup-dashboardright-btn"><i class="feather-sidebar right"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>