<header class="rbt-dashboard-header rainbow-header header-default header-left-align rbt-fluid-header">
    <div class="container-fluid position-relative">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-6 col-7">
                <div class="header-left d-flex">
                    <div class="expand-btn-grp">
                        <button class="bg-solid-primary popup-dashboardleft-btn"><i class="feather-sidebar left"></i></button>
                    </div>
                    <div class="logo">
                        <h4 class="subtitle " style="
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        align-content: center;
                        flex-wrap: nowrap;
                        flex-direction: row;
                        margin-bottom: 0px;
                    "><span class="theme-gradient">NeuroSys AI</span></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-6 col-5">
                <div class="header-right">
                    

                    <!-- Start Mobile-Menu-Bar -->
                    <div class="mobile-menu-bar mr--10 ml--10 d-block d-lg-none">
                        <div class="hamberger">
                            <button class="hamberger-button">
                                <i class="feather-menu"></i>
                            </button>
                        </div>
                    </div>
                    <!-- Start Mobile-Menu-Bar -->

                    <!-- Start Tools Area -->
                 
                    <!-- End Tools Area -->

                    <!-- Start admin Area  -->
                    <div class="account-access rbt-user-wrapper right-align-dropdown">
                        <div class="rbt-user ml--0">
                            <a class="admin-img" href="#"><img src="/static/images/team/team-01.png" alt="Admin"></a>
                        </div>
                        <div class="rbt-user-menu-list-wrapper">
                            <div class="inner">
                                <div class="rbt-admin-profile" style="
                                display: flex;
                                align-items: center;
                            ">
                                    <div class="admin-thumbnail">
                                        <img src="/static/images/team/team-01.png" alt="User Images">
                                    </div>
                                    <div class="admin-info">
                                        <span class="name">{{user.username}}</span>
                                       
                                    </div>
                               
                                </div>
                                <hr class="mt--10 mb--10">
                                <ul class="user-list-wrapper">
                                    <li>
                                        <a href="/logout/">
                                            <i class="feather-log-out"></i>
                                            <span>Logout</span>
                                        </a>
                                    </li>
                                </ul>
                               
                            </div>
                        </div>
                    </div>
                    <!-- Start admin Area  -->

                    
                    <div class="expand-btn-grp {% if toggle == 'true' %}@@display-class{% else %}d-none{% endif %}">

                        <button class="bg-solid-primary popup-dashboardright-btn"><i class="feather-sidebar right"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>