<!-- Start Left panel -->
<div class="rbt-left-panel popup-dashboardleft-section" style="
top: 60px;
">
    <div class="rbt-default-sidebar">
        <div class="inner">
            <div class="content-item-content">
                <div class="rbt-default-sidebar-wrapper">
                    <nav class="mainmenu-nav">
                        <ul class="dashboard-mainmenu rbt-default-sidebar-list" >
                            <li style="height: 50px;">
                                <a href="{% url 'dashboard' %}" style="gap: 5px;" id="dashboard-sidebar">
                                    <lord-icon  class="boxed-logo-light "  target="#dashboard-sidebar"   src="https://cdn.lordicon.com/cnpvyndp.json"     trigger="hover"     style="width:25px;height:25px"> </lord-icon>
                                    <lord-icon  class="boxed-logo-dark "
                                    target="#dashboard-sidebar"
                                    colors="primary:#ffffff"   src="https://cdn.lordicon.com/cnpvyndp.json"     trigger="hover"     style="width:25px;height:25px"> </lord-icon>
                                    <span>Dashboard</span>
                                </a>
                            </li>
                            <li style="height: 50px;">
                                <a href="{% url 'chat' %}" style="gap: 5px;" id="chat-sidebar">
                                    <!-- <i class="boxed-logo-dark fas fa-comments"></i> -->
                                    <!-- <i class="boxed-logo-light fas fa-comments" style="color: #000;"></i> -->
                                    <lord-icon  class="boxed-logo-dark"
                                    colors="primary:#ffffff"  target="#chat-sidebar"
                                    src="https://cdn.lordicon.com/fdxqrdfe.json"
                                    trigger="hover"
                                   
                                    style="width:25px;height:25px">
                                </lord-icon>
                                    <lord-icon class="boxed-logo-light"  target="#chat-sidebar"
                                    src="https://cdn.lordicon.com/fdxqrdfe.json"
                                    trigger="hover"
                                   
                                    style="width:25px;height:25px">
                                </lord-icon>
                                    <span>Chat AI</span>
                                </a>
                            </li>
                            <li style="height: 50px;">
                                <a href="#" style="gap: 5px;" id="service-sidebar">
                                    <!-- <i class="boxed-logo-dark fas fa-cogs"></i> -->
                                    <!-- <i class="boxed-logo-light fas fa-cogs" style="color: #000;"></i> -->
                                    <lord-icon class="boxed-logo-dark"
                                    src="https://cdn.lordicon.com/lecprnjb.json"
                                    trigger="hover"
                                    target="#service-sidebar"
                                    colors="primary:#ffffff"
                                    style="width:25px;height:25px">
                                </lord-icon>
                                    <lord-icon class="boxed-logo-light"
                                    src="https://cdn.lordicon.com/lecprnjb.json"
                                    trigger="hover"
                                    target="#service-sidebar"
                                    style="width:25px;height:25px">
                                </lord-icon>
                                    <span>Services Control</span>
                                </a>
                            </li>
                            <li style="height: 50px;">
                                <a href="#" style="gap: 5px;" id="network-sidebar">
                                    <lord-icon class="boxed-logo-dark"
                                    src="https://cdn.lordicon.com/swcqkzdc.json"
                                    trigger="hover"
                                    colors="primary:#ffffff"
                                    target="#network-sidebar"
                                    style="width:25px;height:25px">
                                </lord-icon>
                                    <lord-icon class="boxed-logo-light"
                                    src="https://cdn.lordicon.com/swcqkzdc.json"
                                    trigger="hover"
                                    target="#network-sidebar"
                                    style="width:25px;height:25px">
                                </lord-icon>
                                    <span>Network & Security</span>
                                </a>
                            </li>
                            <li style="height: 50px;">
                                <a href="#" style="gap: 5px;" id="optimization-sidebar">
                                    <lord-icon class="boxed-logo-dark"
                                        src="https://cdn.lordicon.com/xunzgeah.json"
                                        trigger="hover"
                                        colors="primary:#ffffff"
                                        target="#optimization-sidebar"
                                        style="width:25px;height:25px">
                                    </lord-icon>
                                    <lord-icon class="boxed-logo-light"
                                        src="https://cdn.lordicon.com/xunzgeah.json"
                                        trigger="hover"
                                        target="#optimization-sidebar"
                                        style="width:25px;height:25px">
                                    </lord-icon>
                                    <span>AI Optimization</span>
                                </a>
                            </li>
                            <li style="height: 50px;">
                                <a href="#" style="gap: 5px;" id="logs-sidebar">
                                    <!-- <i class="boxed-logo-dark fas fa-clipboard-list"></i> -->
                                    <!-- <i class="boxed-logo-light fas fa-clipboard-list" style="color: #000;"></i> -->
                                    <lord-icon class="boxed-logo-dark"
                                        src="https://cdn.lordicon.com/zrtfxghu.json"
                                        trigger="hover"
                                         target="#logs-sidebar"
                                        colors="primary:#ffffff"
                                        style="width:25px;height:25px">
                                    </lord-icon>
                                    <lord-icon class="boxed-logo-light"
                                        src="https://cdn.lordicon.com/zrtfxghu.json"
                                        trigger="hover"
                                        target="#logs-sidebar"
                                        style="width:25px;height:25px">
                                    </lord-icon>
                                    <span>Logs & Reports</span>
                                </a>
                            </li>
                        </ul>
                    </nav>

                    <div class="rbt-sm-separator"></div>

                    <nav class="mainmenu-nav">
                        <ul class="dashboard-mainmenu rbt-default-sidebar-list">
                            <li class="has-submenu"><a class="collapse-btn collapsed" data-bs-toggle="collapse" href="#collapseExample('#')" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="feather-plus-circle"></i><span>Setting</span></a>
                                <div class="collapse" id="collapseExample">
                                    <ul class="submenu rbt-default-sidebar-list">
                                      
                                    </ul>
                                </div>
                            </li>
                          
                        </ul>
                        <div class="rbt-sm-separator"></div>
                        <ul class="dashboard-mainmenu rbt-default-sidebar-list">
                      
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="subscription-box">
            <div class="inner">
                <a href="/dashboard/profileDetails/" class="autor-info" style="
                margin-bottom: 0px;
            ">
                   
                    <div class="author-desc">
                        <h5>{{user.username}}</h5>
                      
                    </div>
                    <div class="author-badge">Local</div>
                </a>
                <div class="btn-part">
                   
                </div>
            </div>
            <div id="my_switcher" class="my_switcher-3">
                <ul style="padding-left: 0px; padding-right: 0px;">
                    <li>
                        <a href="javascript: void(0);" data-theme="dark" class="setColor dark"  style="
                        font-size: 14px;
                    ">
                                <img class="moon-light" src="/static/images/light/switch/vector.svg" alt="Switcher Image">
                            <span class="text" title="Dark Mode">
                                Dark</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript: void(0);"  data-theme="light" class="setColor light" style="
                        font-size: 14px;
                        ">
                            <img src="/static/images/light/switch/sun-01.svg" alt="Switcher Image">
                            <span class="text" title="Light Mode">Light</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
           <p class="subscription-copyright copyright-text text-center b4  small-text">© 2025 NeuroSys AI</a>.</p>
    </div>
</div>
<!-- End Left panel -->