{% extends '../layout/layout1.html' %}

{% block content %}

<!-- Main content -->
<div class="rbt-main-content">
    <div class="rbt-daynamic-page-content">

        <!-- Dashboard Center Content -->
        <div class="rbt-dashboard-content">
            <div class="content-page">

                <div class="chat-box-list pt--30" id="chatContainer">

                  

                </div>
            </div>

            <div class="rbt-static-bar">
                <form class="new-chat-form border-gradient" @submit.prevent="sendMessages()">
                    <textarea id="txtarea" v-model="userInput" rows="1" placeholder="Send a message..."></textarea>
                    <div class="left-icons">
                        <div title="ChatenAI" class="form-icon icon-gpt">
                            <i class="feather-aperture"></i>
                        </div>
                    </div>
                    <div class="right-icons">
                        <div class="form-icon icon-plus" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Choose File">
                            <input type="file" class="input-file" name="myfile" multiple>
                            <i class="feather-plus-circle"></i>
                        </div>
                        <button class="form-icon icon-mic" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Voice Search">
                            <i class="feather-mic"></i>
                        </button>
                        <button class="form-icon icon-send"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Send message">
                            <i class="feather-send"></i>
                        </button>
                    </div>
                </form>
                <p class="b3 small-text"></p>
            </div>
        </div>

        <!-- Dashboard Right Content -->
        <div class="rbt-right-side-panel popup-dashboardright-section">
            {% csrf_token %}
            <div class="right-side-top">
                <a class="btn-default bg-solid-primary"  @click="newChat()">
                    <span class="icon"><i class="feather-plus-circle"></i></span>
                    <span>New Chat</span>
                </a>
            </div>
            <div class="right-side-bottom">
                <div class="small-search search-section mb--20">
                    <input type="search" placeholder="Search Here...">
                    <i class="feather-search"></i>
                </div>

                <div class="chat-history-section">
                    <h6 class="title">Today</h6>
                    <ul class="chat-history-list">
                        <li v-for="session in chatSessions" :key="session.id" :class="['history-box', { active: session.id === activeSession }]">
                            <span>[[ session.id ]]</span>
                            <div class="dropdown history-box-dropdown">
                                <button type="button" class="more-info-icon dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="feather-more-horizontal"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#"><i class="feather-refresh-cw"></i> Regenerate</a></li>
                                    <li><a class="dropdown-item" href="#"><i class="feather-tag"></i> Pin Chat</a></li>
                                    <li><a class="dropdown-item" href="#"><i class="feather-file-text"></i> Rename</a></li>
                                    <li><a class="dropdown-item" href="#"><i class="feather-share-2"></i> Share</a></li>
                                    <li><a class="dropdown-item delete-item" href="#" @click="deleteChat(session.id)"><i class="feather-trash-2"></i> Delete Chat</a></li>
                                </ul>
                            </div>
                        </li>
                      
                    </ul>
                </div>

              

              

               
            </div>
        </div>

    </div>
</div>

{% endblock content %}
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
new Vue({
    el: '.rbt-main-content',
    delimiters: ["[[", "]]"],
    data: {
        chatSessions: [],
        userInput: '',
        messages: [],
        activeSession: '',
        searchQuery: '',
        csrfToken: '',

    },
    computed: {
        filteredSessions() {
            return this.chatSessions.filter(session =>
                session.messages.length > 0 && session.messages[0].message.toLowerCase().includes(this.searchQuery.toLowerCase())
            );
        }
    },
    methods: {
        fetchChatSessions() {
            fetch('/api/v1/chat-sessions/')
                .then(response => response.json())
                .then(data => {
                    this.chatSessions = data;
                })
                .catch(error => console.error('Error fetching chat history:', error));
        },
        AIstatus(){
            return `
            <span class="rainbow-badge-card">AI</span>
            `;
        },
        getEditButtons(){
            return `
            <div class="edit-actions">
                <button class="edit-btn btn-default btn-small btn-border" onclick="editMessage(this)"><i class="feather-edit"></i></button>
                <button class="save-regenerate-btn btn-default btn-small" onclick="saveAndRegenerateMessage(this)">Save & Regenerate</button>
                <button class="cancel-btn btn-default btn-small btn-border" onclick="cancelEdit(this)">Cancel</button>
            </div>
            `;
        },
        getReactionButtons(){
            return `
            <div class="reaction-section">
                <div class="btn-grp">
                    <div class="left-side-btn dropup">
                        <button data-bs-toggle="modal" data-bs-target="#likeModal" class="react-btn btn-default btn-small btn-border"><i class="feather-thumbs-up"></i></button>
                        <button data-bs-toggle="modal" data-bs-target="#dislikeModal" class="react-btn btn-default btn-small btn-border"><i class="feather-thumbs-down"></i></button>
                        <button data-bs-toggle="modal" data-bs-target="#shareModal" class="react-btn btn-default btn-small btn-border"><i class="feather-share"></i></button>
                        <button type="button" class="react-btn btn-default btn-small btn-border dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="feather-more-vertical"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#"><i class="feather-copy"></i> Copy</a></li>
                            <li><a class="dropdown-item" href="#"><i class="feather-tag"></i> Pin Chat</a></li>
                            <li><a class="dropdown-item" href="#"><i class="feather-file-text"></i> Rename</a></li>
                            <li><a class="dropdown-item delete-item" href="#"><i class="feather-trash-2"></i> Delete Chat</a></li>
                        </ul>
                    </div>
                    <div class="right-side-btn">
                        <button class="react-btn btn-default btn-small btn-border" onclick="regenerateMessage()">
                            <i class="feather-repeat"></i><span>Regenerate</span>
                        </button>
                    </div>
                </div>
            </div>
            `;
        },
        appendMessage(messageElement){
            const chatContainer = document.getElementById("chatContainer");
            chatContainer.appendChild(messageElement);
        },
        createMessageElement(title, message, speechClass, imgSrc, isEditable){
            const messageElement = document.createElement("div");
            messageElement.className = `chat-box ai-speech bg-flashlight ${speechClass}`;
            const innerClass = title === "You" ? "" : "top-flashlight leftside light-xl";  
            const titleStatus = title === "You" ? "" : this.AIstatus();  
            messageElement.innerHTML = `
                <div class="inner   ">
                    <div class="chat-section">
                    <div class="author">
                        <img class="w-100" src="${imgSrc}" alt="${title}">
                    </div>
                    <div class="chat-content">
                        <h6 class="title">${title} </h6>
                        <p class="mb--20 ${isEditable ? "editable" : ""}" ${
                isEditable ? 'contenteditable="true"' : ""
            }>${message}</p>
                        ${isEditable ? this.getEditButtons() : this.getReactionButtons()}
                    </div>
                    </div>
                </div>
                `;
            return messageElement;
        },
        getCSRFToken(){
            const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            if (!csrfToken) {
                this.csrfToken = '';
                console.error("CSRF token not found.");
                return;
            } else{
                this.csrfToken = csrfToken;
            }
        }
        ,
        createAIMessageElement(title, message, speechClass, imgSrc, isEditable){
            const messageElement = document.createElement("div");
            messageElement.className = `chat-box ai-speech bg-flashlight ${speechClass}`;
            const innerClass = title === "You" ? "" : "top-flashlight leftside light-xl";  
            const titleStatus = title === "You" ? "" : this.AIstatus();  
            messageElement.innerHTML = `
                <div class="inner  ${ innerClass } ">
                    <div class="chat-section">
                    <div class="author">
                        <img class="w-100" src="${imgSrc}" alt="${title}">
                    </div>
                    <div class="chat-content">
                        <h6 class="title">${title} ${ titleStatus }</h6>
                        <p class="mb--20 ${isEditable ? "editable" : ""}" ${
                isEditable ? 'contenteditable="true"' : ""
            }>${message}</p>
                        ${isEditable ? this.getEditButtons() : this.getReactionButtons()}
                    </div>
                    </div>
                </div>
                `;
            return messageElement;
        },
        createMessageWithReactions(title, message, speechClass, imgSrc){
            const messageElement = this.createAIMessageElement(
                title,
                message,
                speechClass,
                imgSrc,
                false
            );
            return messageElement;
        },
        createEditableMessage(title, message, speechClass, imgSrc){
            const messageElement = this.createMessageElement(
                title,
                message,
                speechClass,
                imgSrc,
                true
            );
            return messageElement;
        },
        async sendMessages() {
            if (!this.userInput.trim()) return;

            if (!this.activeSession) {
                await this.newChat(); 
            }
           
            
            
            const txtarea = document.getElementById("txtarea");
            const chatContainer = document.getElementById("chatContainer");

            const userMessage = { sender: "user", message: this.userInput };
           
            // 1. Display the user's message
            const userMessageElement = this.createEditableMessage(
                "You",
                this.userInput,
                "author-speech",
                "/static/images/team/team-01.png"
            );
            this.appendMessage(userMessageElement);
            try {
              
                const response = await fetch('/api/v1/chat/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    "X-CSRFToken": getCSRFToken()
                },
                body: JSON.stringify({ prompt: this.userInput }), // User input as prompt
                });
                txtarea.value = "";
                const data = await response.json();

                if (response.ok) {
                // 3. Display the AI's response
                    const aiMessage = data.ai_response || 'Sorry, I could not understand.';
                    const aiMessageElement = this.createMessageWithReactions(
                        "Chat",
                        aiMessage,
                        "ai-speech",
                        "/static/images/team/avater.png"
                    );
                    const sessionId = this.activeSession;
                    await axios.post(`/api/v1/chat-sessions/${sessionId}/send_message/`, userMessage, {headers: { "X-CSRFToken": this.csrfToken }});
                    await axios.post(`/api/v1/chat-sessions/${sessionId}/send_message/`, { sender: "ai", message: aiMessage },  {headers: { "X-CSRFToken": this.csrfToken }});

                    this.appendMessage(aiMessageElement);
                } else {
                // In case of an error from the API
                    const errorMessage = 'Sorry, there was an issue with the response.';
                    const errorMessageElement = this.createMessageWithReactions(
                        "Chat",
                        errorMessage,
                        "ai-speech",
                        "/static/images/team/avater.png"
                    );
                    this.appendMessage(errorMessageElement);    
                }
            } catch (error) {
                console.error('Error:', error);
                const errorMessage = 'Sorry, something went wrong. Please try again later.';
                const errorMessageElement = this.createMessageWithReactions(
                "Chat",
                errorMessage,
                "ai-speech",
                "/static/images/team/avater.png"
                );
                this.appendMessage(errorMessageElement);
            }
            this.userInput = '';

        },
        newChat(){
            const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            if (!csrfToken) {
                console.error("CSRF token not found.");
                return;
            }
            if (csrfToken){
                axios.post('/api/v1/chat-sessions/', {}, {  // <-- Empty object as data
                    headers: { 'X-CSRFToken': csrfToken }
                })
                .then(response => {
                    console.log(response)
                    this.chatSessions.push(response.data);
                    this.activeSession = response.data.id;
                })
                .catch(error => {
                    console.error("Error creating chat session:", error);
                });
            }
        },
        deleteChat(uid) {
            // const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            // if (!csrfToken) {
            //     console.error("CSRF token not found.");
            //     return;
            // }
            axios.delete(`/api/v1/chat-sessions/${uid}/`, {
                headers: { 'X-CSRFToken': this.csrfToken }
            })
            .then(response => {
                this.fetchChatSessions();
            })
            .catch(error => {
                console.error("Error deleting chat session:", error);
            });
        }
    },
    mounted() {
        this.fetchChatSessions();
        this.getCSRFToken()
    }
});
</script>

{% endblock script %} 